<h3 class="page header">
  Available Destinations!
  <span class="pull right">
    <%= link_to "New Destination", new_city_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<table class="table">
  <% @cities.each do |city| %>
    <tr>
    <td>
      <%= link_to city.name, city %> | 
      <%= link_to "Edit", edit_city_path(city) %>
      <%= link_to "Delete", city_path(city), method: :delete, data: { confirm: 'Are you really sure?' } %>
    </td>
    </tr>
  <% end %>
</table>