<%= form_for @city do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter a new city" %>
  </div>
  <%= form.button 'Create City', class: "btn btn-success" %>
<% end %>